@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Cera Pro', Arial, sans-serif;
    background: #fff;
    color: #3d3d3d;
}

.shop {
    width: 1100px;
    margin: 50px auto;
}

.top {
    position: relative;
    margin-bottom: 40px;
}

.tab {
    display: inline-block;
    margin-right: 25px;
    font-size: 16px;
    color: #555;
    padding-bottom: 6px;
    cursor: pointer;
}

.tab.active {
    color: #46A358;
    border-bottom: 2px solid #46A358;
}

.sort {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    color: #555;
}



.products {
    position: relative;
    height: 420px;
}

.card {
    position: absolute;
    width: 300px;
}

.card:nth-child(1) {
    left: 0;
}

.card:nth-child(2) {
    left: 400px;
}

.card:nth-child(3) {
    left: 800px;
}



.image-box {
    position: relative;
    width: 300px;
    height: 300px;
    background: #f5f5f5;
}

.image-box>img {
    position: absolute;
    width: 80%;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}


.badge {
    position: absolute;
    top: 12px;
    left: 12px;
    background: #46A358;
    color: #fff;
    font-size: 14px;
    padding: 4px 10px;
}
.icons {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    gap: 18px;
    opacity: 0;
}

.image-box:hover .icons {
    opacity: 1;
}

.icon img {
    position: static;
    width: 18px;
    height: 18px;
    transform: none;
}


.name {
    margin-top: 10px;
    font-size: 16px;
}

.price {
    margin-top: 5px;
}

.new-price {
    color: #46A358;
    font-weight: 700;
}

.old-price {
    margin-left: 10px;
    color: #a5a5a5;
    text-decoration: line-through;
}
.icons {
    bottom: 8px;
}/* menu dz */
