
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.woff') format('woff');
    font-style: normal;
}

body {
    font-family: 'Cera Pro', Arial, sans-serif;
    background: #fff;
    color: #3d3d3d;
}

.shop {
    width: 1100px;
    margin: 50px auto;
}

.top {
    position: relative;
    margin-bottom: 40px;
}

.tab {
    display: inline-block;
    margin-right: 25px;
    font-size: 16px;
    color: #555;
    padding-bottom: 6px;
    cursor: pointer;
}

.tab.active {
    color: #46A358;
    border-bottom: 2px solid #46A358;
}

.sort {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    color: #555;
}
.products {
    font-size: 0;
}

.card {
    display: inline-block;
    vertical-align: top;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: 16px;
}

.card:nth-child(3n) {
    margin-right: 0;
}
.image-box {
    position: relative;
    height: 300px;
    background: #FBFBFB;
    overflow: hidden;
}

.image-box::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: #46A358;
    opacity: 0;
}

.card:hover .image-box::before {
    opacity: 1;
}
.plant-img {
    position: absolute;
    max-width: 80%;
    max-height: 80%;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    display: block;
}
.badge {
    position: absolute;
    top: 12px;
    left: 0;
    background: #46A358;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 4px 10px
}
.icons {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    display: flex;
    gap: 18px;

    opacity: 0;
    pointer-events: none;
}

.card:hover .icons {
    opacity: 1;
    pointer-events: auto;
}

.icon {
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 8px;
    display: grid;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, .06);
    text-decoration: none;
}

.icon img {
    width: 18px;
    height: 18px;
    display: block;
}

.name {
    margin-top: 12px;
    font-size: 16px;
}

.price {
    margin-top: 6px;
    font-size: 18px;
    font-weight: 700;
}

.new-price {
    color: #46A358;
    font-weight: 700;
}

.old-price {
    margin-left: 12px;
    color: #a5a5a5;
    text-decoration: line-through;
    font-weight: 400;
}